<div *ngIf="alerts.length > 0; else noAlerts">
	<h2>Stock Alerts</h2>
	<app-alerts-dashboard></app-alerts-dashboard>
	<table cTable hover class="table">
		<thead>
			<tr>
				<th>Item Name</th>
				<th>Threshold</th>
				<th>Alert Date</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let alert of alerts">
				<td>{{ alert.itemId?.name || "N/A" }}</td>
				<td>{{ alert.threshold }}</td>
				<td>{{ alert.alertDate | date : "short" }}</td>
				<td>{{ alert.status }}</td>
			</tr>
		</tbody>
	</table>
</div>

<ng-template #noAlerts>
	<p>No stock alerts found.</p>
</ng-template>
