<div *ngIf="orderId; else errorBlock">
	<h2 class="mb-4">Update Order Status</h2>
	<form (ngSubmit)="updateOrderStatus()">
		<div class="form-floating mb-3">
			<select
				id="status"
				class="form-select"
				[(ngModel)]="status"
				name="status"
				required
			>
				<option *ngFor="let status of validStatuses" [value]="status">
					{{ status }}
				</option>
			</select>
			<label for="status">Select Status</label>
		</div>
		<button type="submit" class="btn btn-primary">Update Status</button>
	</form>
</div>

<ng-template #errorBlock>
	<p class="error">{{ errorMessage }}</p>
</ng-template>
