<div
	class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center"
>
	<c-container>
		<c-row class="justify-content-center">
			<c-col lg="7" md="9" xl="6">
				<c-card class="mx-4">
					<c-card-body class="p-4">
						<form cForm (ngSubmit)="onSubmit()">
							<h1>Register</h1>
							<p class="text-body-secondary">
								Create your account
							</p>
							<c-input-group class="mb-3">
								<span cInputGroupText>
									<svg cIcon name="cilUser"></svg>
								</span>
								<input
									autoComplete="name"
									cFormControl
									[(ngModel)]="registerObj.username"
									name="username"
									placeholder="Username"
								/>
							</c-input-group>
							<c-input-group class="mb-3">
								<span cInputGroupText>&#64;</span>
								<input
									autoComplete="email"
									cFormControl
									[(ngModel)]="registerObj.email"
									name="email"
									placeholder="Email"
								/>
							</c-input-group>
							<c-input-group class="mb-3">
								<span cInputGroupText>
									<svg cIcon name="cilLockLocked"></svg>
								</span>
								<input
									autoComplete="new-password"
									cFormControl
									[(ngModel)]="registerObj.password"
									name="password"
									placeholder="Password"
									type="password"
								/>
							</c-input-group>
							<c-input-group class="mb-4">
								<span cInputGroupText>
									<svg cIcon name="cilSettings"></svg>
								</span>
								<select
									cFormControl
									[(ngModel)]="registerObj.role"
									name="role"
									required
								>
									<option value="" disabled>
										Select a role
									</option>
									<option value="admin">Admin</option>
									<option value="staff">Staff</option>
									<!-- <option value="Customer">Customer</option> -->
								</select>
							</c-input-group>
							<div class="d-grid">
								<button cButton color="success" type="submit">
									Create Account
								</button>
							</div>
						</form>
					</c-card-body>
				</c-card>
			</c-col>
		</c-row>
	</c-container>
</div>
