<c-row class="my-4">
	<c-col xl="6" lg="6" md="6" sm="12" class="margin-class">
		<c-widget-stat-f
			[title]="'Total Orders'"
			color="warning"
			padding
			[value]="totalOrders !== null ? totalOrders : 'Loading...'"
		>
			<ng-template cTemplateId="widgetIconTemplate">
				<svg cIcon name="cilInbox" size="xl" width="32"></svg>
			</ng-template>
		</c-widget-stat-f>
	</c-col>

	<!-- Distinct Customers Widget -->
	<c-col xl="6" lg="6" md="6" sm="12" class="margin-class">
		<c-widget-stat-f
			[title]="'Distinct Customers'"
			color="info"
			padding
			[value]="customerCount !== null ? customerCount : 'Loading...'"
		>
			<ng-template cTemplateId="widgetIconTemplate">
				<svg cIcon name="cilPeople" size="xl" width="32"></svg>
			</ng-template>
		</c-widget-stat-f>
	</c-col>
</c-row>
<div *ngIf="isPieChartDataLoaded; else loadingTemplate">
	<h3 class="inline mx-auto">Order Status</h3>
	<c-chart
		[data]="pieChartData"
		class="w-50 mx-auto"
		type="doughnut"
	></c-chart>
</div>
<ng-template #loadingTemplate>
	<div class="text-center">
		<p>Loading chart...</p>
		<!-- <c-spinner color="primary" size="lg"></c-spinner> -->
	</div>
</ng-template>
