<p class="text-center fs-4 fw-bold">Orders Dashboard</p>

<c-row class="g-4">
	<!-- Total Orders Widget -->
	<c-col xl="4" lg="6" md="6" sm="12">
		<c-widget-stat-f
			[title]="'Total Orders'"
			color="warning"
			padding
			[value]="totalOrders !== null ? totalOrders : 'Loading...'"
		>
			<ng-template cTemplateId="widgetIconTemplate">
				<svg cIcon name="cilInbox" size="xl" width="32"></svg>
			</ng-template>
		</c-widget-stat-f>
	</c-col>

	<!-- Distinct Customers Widget -->
	<c-col xl="4" lg="6" md="6" sm="12">
		<c-widget-stat-f
			[title]="'Distinct Customers'"
			color="info"
			padding
			[value]="customerCount !== null ? customerCount : 'Loading...'"
		>
			<ng-template cTemplateId="widgetIconTemplate">
				<svg cIcon name="cilPeople" size="xl" width="32"></svg>
			</ng-template>
		</c-widget-stat-f>
	</c-col>
	<c-col xl="4" lg="6" md="6" sm="12">
		<c-chart [data]="pieChartData" type="doughnut"></c-chart>
	</c-col>
</c-row>
